body{
    overflow-x: hidden;
}

nav {
    height: 60px;
    width: 100%;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 999;
   
}

nav ul {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    transition: all 0.3s ease-in;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.ham {
    display: none;
}



@media(max-width: 768px) {

    nav {
        justify-content: flex-end;
    }

    .ham {
        display: block;
        cursor: pointer;
        margin-right: 20px;
    }


    .show {
        background-color: #333;
        position: absolute;
        flex-direction: column;
        top: 40px;
        width: 57%;
        height: 400px;
        right: 0px;
        display: flex;
        padding: 30px;
        align-items: flex-start;
        border-bottom-left-radius: 64px;
    }

    .hide {
        transform: translatey(-200px);
        visibility: hidden;
        opacity: 0.1;
       
    }
}
.image20{
height: 50px;
}



.div{
    margin: 0 auto;
}

    .div50 img{
        object-fit: cover;
      
      
    }

.btn0{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: none;
    border: 2px solid green;
    margin-top: -50px;
    margin-left: 50px;
}

@media (max-width:586px){
    .btn0{
        height: 60px;
        width: 60px;
       margin-right: -70px;
       column-gap: 20px;
    }
}

@media (max-width:586px){
    .image1{
        height: 45px;
        width: 45px;
       
       
    }
.fa-bars{
    margin-top: 20px;
}

nav a:hover{
    color: blue;
}
}


.searchbar {
    height: 75px;
    width: 100%;
    background-color: rgb(6, 6, 97);
    color: white;
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: fixed;
    z-index: 999;

}

.contacts{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   gap: 30px;
}


.logo img{
    object-fit: contain;
}



a {
    text-decoration: none;
    color: white;
}

.d-block{
    height: 500px;
    background-position: center;
}
.fa-bars{
    margin-top: 20px;
    
}

@media(max-width:768px){
    .contacts{
        font-size: 10px;
        gap: 11px;
                margin-right: 20px;
    }
}

.main img {
    height: 500px;
    width: 100%;
    border: 2px solid white;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.8s;
    
}

.outer-div {
    overflow: hidden;
}

.main img:hover {
    transform: scale(1.1);
}


.numbers{
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    font-weight: bold;
    font-size: 40px;
}

.main1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 50px;
    flex-wrap: wrap;
    font-weight: bold;
    background-image: linear-gradient(rgb(79, 202, 8),rgb(6, 92, 35));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.div1 {
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

.div2 h2 {
    background: linear-gradient(rgb(19, 19, 209), rgb(9, 243, 9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 40px;
}

.div2 h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}

.div2 p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
}

.span{
    color: blue;
    font-size: 30px;
    font-weight: bold;
}
.div3 {
    height: max-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.div4 {
    height: 30rem;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    padding: 10px;
   

}

.div4 input {
    background-color: rgb(7, 235, 7);
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 5px;
    transition: 1s;
    color: white;
    overflow: hidden;
}

.div4 input:hover{
transform: scale(1.1);

}

.div5 {
    height: 30rem;
    width: 600px;

}

.div5 img {
    height: 100%;
    width: 100%;
}



.div2 h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}

.div2 p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
}

.div7 {
    height: max-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

}

.div4 {
    height: 30rem;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

.div4 input {
    background-color: rgb(7, 235, 7);
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 5px;
    transition: 1s;
    color: white;
}

.div4 input:hover{
transform: scale(1.1);
}

.div5 {
    height: 30rem;
    width: 600px;
}

.div5 img {
    height: 100%;
    width: 100%;
}

.div6{
    height: max-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.div8{
    height: max-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.div9{
    height: max-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}




.div10{
    height: 30rem;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.div10 img{
    height: 100%;
    width: 100%;
}

.div11{
    height: max-content;
    width: 100%;
  display: flex;
justify-content: center;
flex-wrap: wrap;

    
}

.div12{
height: max-content;
width: 80%;
background-image: linear-gradient(rgb(3, 3, 53),rgb(2, 78, 2));
display: flex;
justify-content: space-evenly;
gap: 30px;
justify-content: center;
align-items: flex-start;
border-radius: 30px;
flex-wrap: wrap;
padding: 30px;
}

.card-body{
    
    background-image: linear-gradient(rgb(3, 3, 53),rgb(2, 78, 2));
}
.card{
    border: none;
    color: white;
}

.card-text:last-child {
    margin-bottom: 0;
    height: max-content;
}

.anya{
    color: white;
    font-size: 20px;
}
.last{
    height: max-content;
    width: 80%;
    border: 2px solid black;
    color: white;
    background: black;
    padding: 20px;
}


.footer {
    height: max-content;
    width: 100%;
    background-image: linear-gradient(rgb(71, 240, 71), rgb(64, 64, 248));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer1 {
   
    width: 90%;
    justify-content: space-around;
    flex-wrap: wrap;

}

.fa-xs {
    font-size: 20px;
    margin-left: 10px;
    transition: 1s;
}

hr {
    color: white;
    border: 1px solid;
    opacity: 1;
}

#footer {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    flex-wrap: wrap;
}

.part1 {
    color: white;
    text-transform: capitalize;
}

.part1 p:hover {
    color: blue;
}


.part2 {
    color: white;
    text-transform: capitalize;
}

.part2 p:hover {
    color: blue;
}

.part3 {
    color: white;
    text-transform: capitalize;
}

.part3 p:hover {
    color: blue;
}

.part4 {
    color: white;
    text-transform: capitalize;
}

.part4 p:hover {
    color: blue;
}


.suppliers {
    color: white;
    font-weight: bold;
    border-color: white;
    text-transform: capitalize;
    height: 50px;
    width: 150px;
    background-color: rgb(64, 64, 248);
    transition: 0.5s;
    border-radius: 5px;
}

.suppliers:hover {
    border-radius: 10px;
    background-color: rgb(6, 172, 6);
    background-transform: scale(1.1);
    flex-wrap: wrap;

}


p4 {
    color: white;
    display: flex;
    justify-content: center;
}

.tic {
    color: rgba(255, 255, 255, 0.89);
    display: flex;
    justify-content: end;
}




@media (max-width:498px){
    .part1,.part2,.part3,.part4{
        font-size: 10px;
    }
}

@media (max-width:498px){
    .suppliers{
       height: 30px;
       width: 100px;
    }
}

@media (max-width:340px){
    .part1,.part2,.part3,.part4{
      font-size: 8px;
    }
}

@media (max-width:498px){
    p4{
        font-size: 10px;
    }
}

@media(max-width:1246px){
    .phone{
        margin-right: 400px;
    }
}




.Btn10 {
    width: 45px;
    height: 45px;
    background: linear-gradient(#44ea76, #39fad7);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    position: fixed;
      bottom: 30%;
      border: none;
      right: 2%;
  
  }
  
  .arrow path {
    fill: white;
  }
  
  .text10 {
    font-size: 0.7em;
    width: 100px;
    position: absolute;
    right: 31px;
    left: -36px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 35px;
    opacity: 0;
    transition-duration: .7s;
  }
  
  .Btn10:hover .text10 {
    opacity: 1;
    transition-duration: .7s;
  }
  
  .Btn10:hover .arrow {
    animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-bottom {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  